.eventForm{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
}

.modal{
    position: absolute;
    top: 20%;
    left: 15%;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    margin: 0 auto;
    background-color: #394245;
    color: #5b8b9e;
    display: table;
    transition: transform .5s ease;
    box-shadow: 0 5px 5px 5px;
    transform: translateX(200%);
}


.modal input{
    background-color: #F8F8FF;
}

#close{
    float: right;
    background-color: #394245;
    border: none;
    cursor: crosshair;
    color: #5b8b9e;
    font-size: 12px;
}
