/* TODO Add site wide styles */
html{
    background-color: #221d28;
    height: 100%;
    width: 100%;
    color: #9bdfd9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
}
button{
    background-color: #678788;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    color: #9bdfd9;
}
